/*This one is for all page, basically page will includes two div, one is main, the other */
/*is footer-custom, everything else inside main */
html, body{
    height: 100%;
    background-color: oldlace;
}

body{
    background-color: transparent;
}

.text-link{
    color: #005cbf;
}

.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .navbar-header{
        display: flex;
        flex-flow: row;
    }
    .brand-title{
        order: 2;
    }
    .brand-image{
        order: 1;
    }

    .brand-text{
        font-weight: bold;
        font-size: 2.5rem;
    }

    /*noinspection ALL*/
}

@media (max-width: 992px){
    .navbar-header{
        margin-left: 0;
        margin-right: auto;
        padding-right: 0;
        flex-grow: 100;
    }

    .brand-title{
        flex-grow: 100;
    }

    .brand-text{
        font-weight: bold;
        font-size: 2rem;
    }

    .brand-image{
        margin-left: auto;
        margin-right: 0;
        vertical-align: center;
    }

    /*noinspection ALL*/
}

@media (max-width: 360px) {
    .navbar-header{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        flex-grow: 100;
    }

    .brand-text{
        font-weight: bold;
        font-size: 1.3rem;
    }

    .brand-image{
        vertical-align: center;
        margin-left: auto;
    }

    /*noinspection ALL*/
}

/*noinspection ALL*/

.group-button{
    width: 100%;
}

/*noinspection ALL*/

/*sign in part*/
/*noinspection ALL*/

/*noinspection ALL*/
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

